  <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-flush navbar-container navbar-bordered">
    <div class="navbar-nav-wrap">
      <div class="navbar-brand-wrapper">
        <!-- Logo -->
        <a class="navbar-brand" href="..\index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="..\assets\svg\logos\logoApp.png" alt="Logo">
          <img class="navbar-brand-logo-mini" src="..\assets\svg\logos\logo-short.svg" alt="Logo">
        </a>
        <!-- End Logo -->
      </div>

      <div class="navbar-nav-wrap-content-left">
        <!-- Navbar Vertical Toggle -->
        <button type="button" class="js-navbar-vertical-aside-toggle-invoker close mr-3">
          <i class="tio-first-page navbar-vertical-aside-toggle-short-align" data-toggle="tooltip" data-placement="right" title="Collapse"></i>
          <i class="tio-last-page navbar-vertical-aside-toggle-full-align" data-template='<div class="tooltip d-none d-sm-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-toggle="tooltip" data-placement="right" title="Expand"></i>
        </button>
        <!-- End Navbar Vertical Toggle -->
      </div>

      <!-- Secondary Content -->
      <div class="navbar-nav-wrap-content-right">
        <!-- Navbar -->
        <ul class="navbar-nav align-items-center flex-row">
          <li class="nav-item">
            <!-- Account -->
            <div class="hs-unfold">
              <a class="js-hs-unfold-invoker navbar-dropdown-account-wrapper" href="javascript:;" data-hs-unfold-options='{
                   "target": "#accountNavbarDropdown",
                   "type": "css-animation"
                 }'>
                <div class="avatar avatar-sm avatar-circle">
                  <img class="avatar-img" src="..\assets\img\160x160\img6.jpg" alt="Image Description">
                  <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                </div>
              </a>

              <div id="accountNavbarDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-account" style="width: 16rem;">
                <div class="dropdown-item-text">
                  <div class="media align-items-center">
                    <div class="avatar avatar-sm avatar-circle mr-2">
                      <img class="avatar-img" src="..\assets\img\160x160\img6.jpg" alt="Image Description">
                    </div>
                    <div class="media-body">
                      <span class="card-title h5">Thành Đạt</span>
                      <span class="card-text">mark@example.com</span>
                    </div>
                  </div>
                </div>

                <div class="dropdown-divider"></div>

                <!-- Unfold -->
                <div class="hs-unfold w-100">
                  <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;" data-hs-unfold-options='{
                       "target": "#navSubmenuPagesAccountDropdown1",
                       "event": "hover"
                     }'>
                    <span class="text-truncate pr-2" title="Set status">Set status</span>
                    <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker ml-auto"></i>
                  </a>

                  <div id="navSubmenuPagesAccountDropdown1" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu">
                    <a class="dropdown-item" href="#">
                      <span class="legend-indicator bg-success mr-1"></span>
                      <span class="text-truncate pr-2" title="Available">Available</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="legend-indicator bg-danger mr-1"></span>
                      <span class="text-truncate pr-2" title="Busy">Busy</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="legend-indicator bg-warning mr-1"></span>
                      <span class="text-truncate pr-2" title="Away">Away</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="text-truncate pr-2" title="Reset status">Reset status</span>
                    </a>
                  </div>
                </div>
                <!-- End Unfold -->

                <!-- Unfold -->
                <div class="hs-unfold w-100">
                  <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;" data-hs-unfold-options='{
                       "target": "#navSubmenuPagesAccountDropdown2",
                       "event": "hover"
                     }'>
                    <span class="text-truncate pr-2" title="Customization">Customization</span>
                    <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker  ml-auto"></i>
                  </a>

                  <div id="navSubmenuPagesAccountDropdown2" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu">
                    <a class="dropdown-item" href="#">
                      <span class="text-truncate pr-2" title="Invite people">Invite people</span>
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="text-truncate pr-2" title="Analytics">Analytics</span>
                      <i class="tio-open-in-new"></i>
                    </a>
                    <a class="dropdown-item" href="#">
                      <span class="text-truncate pr-2" title="Customize Front">Customize Front</span>
                      <i class="tio-open-in-new"></i>
                    </a>
                  </div>
                </div>
                <!-- End Unfold -->

                <a class="dropdown-item" href="#">
                  <span class="text-truncate pr-2" title="Manage team">Manage team</span>
                </a>

                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="/logout">
                    <span class="text-truncate pr-2" title="Sign out">Sign out</span>
                </a>
              </div>
            </div>
            <!-- End Account -->
          </li>
        </ul>
        <!-- End Navbar -->
      </div>
      <!-- End Secondary Content -->
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <!-- Navbar Vertical -->
  <aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered  ">
    <div class="navbar-vertical-container">
      <div class="navbar-vertical-footer-offset">
        <div class="navbar-brand-wrapper justify-content-between">
          <!-- Logo -->


            <a class="navbar-brand" href="..\index.html" aria-label="Front">
              <img class="navbar-brand-logo" src="..\assets\svg\logos\logoApp.png" alt="Logo">
              <img class="navbar-brand-logo-mini" src="..\assets\svg\logos\logo-short.svg" alt="Logo">
            </a>

          <!-- End Logo -->

          <!-- Navbar Vertical Toggle -->
          <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-vertical-aside-toggle btn btn-icon btn-xs btn-ghost-dark">
            <i class="tio-clear tio-lg"></i>
          </button>
          <!-- End Navbar Vertical Toggle -->
        </div>

        <!-- Content -->
        <div class="navbar-vertical-content">
          <ul class="navbar-nav navbar-nav-lg nav-tabs">
            <!-- Dashboards -->
            <li class="navbar-vertical-aside-has-menu active">
              <a class="js-navbar-vertical-aside-menu-link nav-link" href="{{ route('admin.dashboard') }}" title="Dashboards">
                <i class="tio-home-vs-1-outlined nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Trang chủ</span>
              </a>
            </li>
            <li class="navbar-vertical-aside-has-menu ">
              <a class="js-navbar-vertical-aside-menu-link nav-link" href="/user" title="userMn">
                <i class="bi-person nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Quản lý người dùng</span>
              </a>
            </li>
            <!-- End Dashboards -->
             <li class="navbar-vertical-aside-has-menu ">
              <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="ticketMn">
                <i class="bi bi-bus-front nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Quản lý phương tiện</span>
              </a>
              <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link " href="/trips" title="Users">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Quản lý lộ trình</span>
                  </a>
                </li>
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link" href="/vehicles" title="User Profile">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Quản lý xe</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- Pages -->
            <li class="navbar-vertical-aside-has-menu ">
              <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="ticketMn">
                <i class="bi-ticket-detailed nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Quản lý vé</span>
              </a>
              <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link " href="javascript:;" title="Users">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Quản lý giá vé</span>
                  </a>
                </li>
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link" href="javascript:;" title="User Profile">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Quản lý vé đã đặt</span>
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Pages -->

            <li class="navbar-vertical-aside-has-menu">
              <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle" href="javascript:;" title="">
                <i class="bi bi-box-seam nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Quản lý chuyển phát</span>
              </a>
              <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link " href="/delivery" title="">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Quản lý bưu cục</span>
                  </a>
                </li>
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link" href="" title="">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Giá cước chuyển phát</span>
                  </a>
                </li>
                <li class="navbar-vertical-aside-has-menu ">
                  <a class="js-navbar-vertical-aside-menu-link nav-link" href="" title="">
                    <span class="tio-circle nav-indicator-icon"></span>
                    <span class="text-truncate">Quản lý đơn hàng</span>
                  </a>
                </li>
              </ul>
            </li>

            <li class="navbar-vertical-aside-has-menu ">
              <a class="js-navbar-vertical-aside-menu-link nav-link" href="/news" title="">
                <i class="bi-file-text nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Quản lý bài viết</span>
              </a>
            </li>
            <li class="navbar-vertical-aside-has-menu ">
              <a class="js-navbar-vertical-aside-menu-link nav-link" href="" title="">
                <i class="bi-chat-left nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Phản hồi</span>
              </a>
            </li>


            <li class="nav-item">
              <div class="nav-divider"></div>
            </li>

            <li class="nav-item">
              <small class="nav-subtitle" title="Documentation">Documentation</small>
              <small class="tio-more-horizontal nav-subtitle-replacer"></small>
            </li>

            <li class="nav-item ">
              <a class="js-nav-tooltip-link nav-link" href="..\documentation\index.html" title="Documentation" data-placement="left">
                <i class="tio-book-opened nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Documentation <span class="badge badge-primary badge-pill ml-1">v1.1</span></span>
              </a>
            </li>

            <!-- Front Builder -->
            <li class="nav-item nav-footer-item ">
              <a class="d-none d-md-flex js-hs-unfold-invoker nav-link nav-link-toggle" href="javascript:;" data-hs-unfold-options='{
                   "target": "#styleSwitcherDropdown",
                   "type": "css-animation",
                   "animationIn": "fadeInRight",
                   "animationOut": "fadeOutRight",
                   "hasOverlay": true,
                   "smartPositionOff": true
                 }'>
                <i class="tio-tune nav-icon"></i>
              </a>
              <a class="d-flex d-md-none nav-link nav-link-toggle" href="javascript:;">
                <i class="tio-tune nav-icon"></i>
              </a>
            </li>
            <!-- End Front Builder -->

            <!-- Help -->
            <li class="navbar-vertical-aside-has-menu nav-footer-item ">
              <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="Help">
                <i class="tio-home-vs-1-outlined nav-icon"></i>
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Help</span>
              </a>

              <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Resources &amp; tutorials">
                    <i class="tio-book-outlined dropdown-item-icon"></i> Resources &amp; tutorials
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Keyboard shortcuts">
                    <i class="tio-command-key dropdown-item-icon"></i> Keyboard shortcuts
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Connect other apps">
                    <i class="tio-alt dropdown-item-icon"></i> Connect other apps
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="What's new?">
                    <i class="tio-gift dropdown-item-icon"></i> What's new?
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Contact support">
                    <i class="tio-chat-outlined dropdown-item-icon"></i> Contact support
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Help -->

            <!-- Language -->
            <li class="navbar-vertical-aside-has-menu nav-footer-item ">
              <a class="js-navbar-vertical-aside-menu-link nav-link nav-link-toggle " href="javascript:;" title="Language">
                <img class="avatar avatar-xss avatar-circle" src="..\assets\vendor\flag-icon-css\flags\1x1\us.svg" alt="United States Flag">
                <span class="navbar-vertical-aside-mini-mode-hidden-elements text-truncate">Language</span>
              </a>

              <ul class="js-navbar-vertical-aside-submenu nav nav-sub">
                <li class="nav-item">
                  <a class="nav-link" href="#" title="English (US)">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\us.svg" alt="Flag">
                    English (US)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="English (UK)">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\gb.svg" alt="Flag">
                    English (UK)
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Deutsch">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\de.svg" alt="Flag">
                    Deutsch
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Dansk">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\dk.svg" alt="Flag">
                    Dansk
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="Italiano">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\it.svg" alt="Flag">
                    Italiano
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" title="中文 (繁體)">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\cn.svg" alt="Flag">
                    中文 (繁體)
                  </a>
                </li>
              </ul>
            </li>
            <!-- End Language -->
          </ul>
        </div>
        <!-- End Content -->

        <!-- Footer -->
        <div class="navbar-vertical-footer">
          <ul class="navbar-vertical-footer-list">
            <li class="navbar-vertical-footer-list-item">
              <!-- Unfold -->
              <div class="hs-unfold">
                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                    "target": "#styleSwitcherDropdown",
                    "type": "css-animation",
                    "animationIn": "fadeInRight",
                    "animationOut": "fadeOutRight",
                    "hasOverlay": true,
                    "smartPositionOff": true
                   }'>
                  <i class="tio-tune"></i>
                </a>
              </div>
              <!-- End Unfold -->
            </li>

            <li class="navbar-vertical-footer-list-item">
              <!-- Other Links -->
              <div class="hs-unfold">
                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                    "target": "#otherLinksDropdown",
                    "type": "css-animation",
                    "animationIn": "slideInDown",
                    "hideOnScroll": true
                   }'>
                  <i class="tio-help-outlined"></i>
                </a>

                <div id="otherLinksDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu navbar-vertical-footer-dropdown">
                  <span class="dropdown-header">Help</span>
                  <a class="dropdown-item" href="#">
                    <i class="tio-book-outlined dropdown-item-icon"></i>
                    <span class="text-truncate pr-2" title="Resources &amp; tutorials">Resources &amp; tutorials</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-command-key dropdown-item-icon"></i>
                    <span class="text-truncate pr-2" title="Keyboard shortcuts">Keyboard shortcuts</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-alt dropdown-item-icon"></i>
                    <span class="text-truncate pr-2" title="Connect other apps">Connect other apps</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="tio-gift dropdown-item-icon"></i>
                    <span class="text-truncate pr-2" title="What's new?">What's new?</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <span class="dropdown-header">Contacts</span>
                  <a class="dropdown-item" href="#">
                    <i class="tio-chat-outlined dropdown-item-icon"></i>
                    <span class="text-truncate pr-2" title="Contact support">Contact support</span>
                  </a>
                </div>
              </div>
              <!-- End Other Links -->
            </li>

            <li class="navbar-vertical-footer-list-item">
              <!-- Language -->
              <div class="hs-unfold">
                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                    "target": "#languageDropdown",
                    "type": "css-animation",
                    "animationIn": "slideInDown",
                    "hideOnScroll": true
                   }'>
                  <img class="avatar avatar-xss avatar-circle" src="..\assets\vendor\flag-icon-css\flags\1x1\us.svg" alt="United States Flag">
                </a>

                <div id="languageDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu navbar-vertical-footer-dropdown">
                  <span class="dropdown-header">Select language</span>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\us.svg" alt="Flag">
                    <span class="text-truncate pr-2" title="English">English (US)</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\gb.svg" alt="Flag">
                    <span class="text-truncate pr-2" title="English">English (UK)</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\de.svg" alt="Flag">
                    <span class="text-truncate pr-2" title="Deutsch">Deutsch</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\dk.svg" alt="Flag">
                    <span class="text-truncate pr-2" title="Dansk">Dansk</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\it.svg" alt="Flag">
                    <span class="text-truncate pr-2" title="Italiano">Italiano</span>
                  </a>
                  <a class="dropdown-item" href="#">
                    <img class="avatar avatar-xss avatar-circle mr-2" src="..\assets\vendor\flag-icon-css\flags\1x1\cn.svg" alt="Flag">
                    <span class="text-truncate pr-2" title="中文 (繁體)">中文 (繁體)</span>
                  </a>
                </div>
              </div>
              <!-- End Language -->
            </li>
          </ul>
        </div>
        <!-- End Footer -->
      </div>
    </div>
  </aside>
  <!-- End Navbar Vertical -->
